<% if (locals.passwordErrors) {%>
<div class="error-list">
    <% passwordErrors.forEach(function(error) { %>
        <div class="error" role="alert">* <%= error.msg %></div>
    <% }); %>
</div>
<% } %>