<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Members Only! Home.</title>
  </head>
  <body>
    <h1>hello world</h1>
    <a href="/sign-up">Sign Up</a>
  </body>
</html>
